In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

ModuleNotFoundError: No module named 'seaborn'

In [2]:
derecho911_df = pd.read_csv ('../data/911_Phone_Calls_Derecho.csv')

In [12]:
derecho911_df

,Seizure DateTime,CallTypeId,ALI Latitude,ALI Longitude,Cell Tower Address
0,5/3/2020 16:30,911 Calls,36.247802,-86.716847,WIRELESS CALLER
1,5/3/2020 16:30,911 Calls,36.143108,-86.800621,1161 21ST AV S - SE
2,5/3/2020 16:30,911 Calls,36.100516,-87.056329,8013 C MCCRORY LN - N
3,5/3/2020 16:30,911 Calls,36.130021,-86.927819,5758 RIVER RD - SW
4,5/3/2020 16:31,911 Calls,36.142380,-86.881882,3744B ANNEX AVE - SE
...,...,...,...,...,...
1544,5/4/2020 0:18,911 Calls,36.131694,-86.770535,1823-C 12TH AV - SECTOR SE S
1545,5/4/2020 0:22,911 Calls,36.042237,-86.743455,5244-C EDMONSON PIKE - SECTOR SE
1546,5/4/2020 0:25,911 Calls,36.077664,-86.655607,2747-B MURFREESBORO PKE - SECTOR NW
1547,5/4/2020 0:29,911 Calls,36.024706,-86.743562,302 SUMMIT VIEW DR - E
1548,5/4/2020 0:29,911 Calls,NaN,NaN,2014 QUAIL HOLLOW CIR

In [4]:
tornado911_df = pd.read_csv ('../data/911_Phone_Calls_Tornado.csv')

In [13]:
tornado911_df

,Seizure DateTime,CallTypeId,ALI Latitude,ALI Longitude,Cell Tower Address
0,3/3/2020 0:34,911 Calls,36.072708,-86.665779,620 Richards RD - N Sector
1,3/3/2020 0:36,911 Calls,36.159634,-86.841904,4507D KENTUCKY AV - SE
2,3/3/2020 0:36,911 Calls,36.264153,-86.708862,329 THELMA ST - S Sector
3,3/3/2020 0:36,911 Calls,NaN,NaN,526 FOUNDRY DR
4,3/3/2020 0:36,911 Calls,36.233467,-86.721077,5007B RUSKIN AVE - N
...,...,...,...,...,...
470,3/3/2020 4:54,911 Calls,36.142552,-86.635330,WIRELESS CALLER
471,3/3/2020 4:54,911 Calls,36.189415,-86.813557,WIRELESS CALLER
472,3/3/2020 4:55,911 Calls,36.223534,-86.757874,WIRELESS CALLER
473,3/3/2020 4:56,911 Calls,36.168398,-86.783774,600 DR MARTIN L KING JR BLVD - NE
474,3/3/2020 4:58,911 Calls,36.276566,-86.799417,4884 LICKTON PIKE - SE

In [6]:
tornado_incidents_df = pd.read_csv ('../data/Dispatch_Data_Tornado_Incidents.csv', skiprows = 3)

In [7]:
derecho_incidents_df = pd.read_csv ('../data/Dispatch_Data_Derecho_Incidents.csv', skiprows = 3)

In [9]:
derecho_incidents_df

,IncidentDate,Location,Latitude1,Longitude1,IncidentTypeDescription1
0,5/3/2020 4:31:07 PM,901 KENWICK CT W,36.046877,-86.962526,ELECTRICAL HAZARD
1,5/3/2020 4:32:18 PM,8036 ARBOR DR,36.082491,-86.940680,ELECTRICAL HAZARD
2,5/3/2020 4:32:23 PM,119 DUE WEST AV E,36.248029,-86.716875,NOT ALERT COPD
3,5/3/2020 4:33:04 PM,630 GALLATIN PKE S,36.256491,-86.714817,ABDOMINAL PAIN
4,5/3/2020 4:33:52 PM,615 W HILLWOOD DR,36.129690,-86.879834,ELECTRICAL HAZARD
...,...,...,...,...,...
622,5/4/2020 12:21:00 AM,625 BENTON AV,36.131384,-86.770628,HIGH RISE NATURAL GAS ODOR
623,5/4/2020 12:21:32 AM,518 BRENTLAWN DR,36.064362,-86.761199,UNKNOWN STATUS
624,5/4/2020 12:22:47 AM,517 ALBANY DR,36.212754,-86.600431,ELECTRICAL HAZARD
625,5/4/2020 12:27:52 AM,639 LAFAYETTE ST,36.153769,-86.777520,SICK PERSON: NO PRIORITY SYMPTOMS
626,5/4/2020 12:29:50 AM,2011 HAYES ST,36.151839,-86.800791,PULL STATION ALARM COMMERCIAL INDUSTRIAL BUILD

In [10]:
tornado_incidents_df

,IncidentDate,Location,Latitude1,Longitude1,IncidentTypeDescription1
0,3/3/2020 12:36:34 AM,6205 COCKRILL BEND CIR,36.182002,-86.894052,GENERAL ALARM COMMERCIAL INDUSTRIAL BUILD
1,3/3/2020 12:37:24 AM,7337 COCKRILL BEND BLVD,36.175666,-86.894978,GENERAL ALARM COMMERCIAL INDUSTRIAL BUILD
2,3/3/2020 12:38:17 AM,110 TUNE AIRPORT DR,36.179299,-86.883727,STRUCTURE FIRE COMMERCIAL INDUSTRIAL
3,3/3/2020 12:39:40 AM,555 MARRIOTT DR,36.151108,-86.689921,GENERAL ALARM COMMERCIAL INDUSTRIAL BUILD
4,3/3/2020 12:39:42 AM,1414 COUNTY HOSPITAL RD,36.177926,-86.845934,GENERAL ALARM COMMERCIAL INDUSTRIAL BUILD
...,...,...,...,...,...
255,3/3/2020 4:53:43 AM,1616 23RD AV N,36.175739,-86.813173,WIRES DOWN WITH NO SMOKE OR ARCING POWER DISCO...
256,3/3/2020 4:56:56 AM,5610 OLD HICKORY BLVD,36.180487,-86.601466,LARGE BUILDING INVESTIGATION
257,3/3/2020 4:57:06 AM,2903 MORNINGSIDE DR,36.223554,-86.757949,CHEST PAIN - ABNORMAL BREATHING
258,3/3/2020 4:57:14 AM,1730 KELLOW ST,36.189445,-86.813466,ABNORMAL BREATHING OTHER LUNG PROBLEMS
259,3/3/2020 4:57:48 AM,I24 W / HICKORY HOLLOW PKWY,36.039720,-86.649099,UNKNOWN STATUS:

In [14]:
single_family_housing_df = pd.read_csv('../data/2017 single family_final_with_sqft.txt')

In [15]:
single_family_housing_df

,APN,DistrictCode,Council District,AddressFullAddress,AddressCity,AddressPostalCode,2017 LAND,2017 IMPR,2017 TOTAL APPR,2017 TOTAL ASSD,FinishedArea
0,103020C01300CO,USD,24,276 WHITE BRIDGE PIKE 13,NASHVILLE,37209,10000,39600,49600,19840,567.0
1,103020C01400CO,USD,24,276 WHITE BRIDGE PIKE 14,NASHVILLE,37209,10000,45000,55000,13750,567.0
2,103020C01500CO,USD,24,276 WHITE BRIDGE PIKE 15,NASHVILLE,37209,10000,39600,49600,19840,567.0
3,103020C01600CO,USD,24,276 WHITE BRIDGE PIKE 16,NASHVILLE,37209,10000,45000,55000,13750,567.0
4,103020C01700CO,USD,24,276 WHITE BRIDGE PIKE 17,NASHVILLE,37209,10000,45000,55000,22000,567.0
...,...,...,...,...,...,...,...,...,...,...,...
197109,188100A12100CO,GSD,33,1709 PARK TERRACE LN,NOLENSVILLE,37135,48000,286600,334600,83650,2831.0
197110,188100A12200CO,GSD,33,1713 PARK TERRACE LN,NOLENSVILLE,37135,48000,289400,337400,84350,2774.0
197111,188100A12300CO,GSD,33,1717 PARK TERRACE LN,NOLENSVILLE,37135,48000,360800,408800,102200,3222.0
197112,188100A12400CO,GSD,33,2104 GLEN HAVEN DR,NOLENSVILLE,37135,33000,187300,220300,55075,1952.0
197113,188100A12500CO,GSD,33,2103 GLEN HAVEN DR,NOLENSVILLE,37135,48000,204700,252700,63175,2077.5

In [20]:
Res_Str_Permits_df = pd.read_csv('../data/Residential_Short_Term_rental_Permits.csv', low_memory = False)

In [21]:
Res_Str_Permits_df

,Permit #,Applicant,Applicant Home Phone,Applicant Mobile Phone,Applicant Work Phone,Applicant Work Phone Ext.,Contact,Contact Home Phone,Contact Mobile Phone,Contact Work Phone,...,Permit Owner Addr. 2,Permit Owner Addr. 3,Permit Owner City,Permit Owner State,Permit Owner ZIP,Permit Type,Permit Subtype,Council District,Census Tract,Mapped Location
0,2019004616,Carson Padgett,NaN,919 810-3493,NaN,NaN,Carson Padgett,NaN,919 810-3493,NaN,...,3134 LONG BV # 103,NaN,NASHVILLE,TN,37203,CASR,CAZ10A003,21.0,37016600,"3134 LONG BLVD 103\nNASHVILLE, TN 37203\n(36.1..."
1,2018074920,Brandi Tilton,NaN,615 394-0041,NaN,NaN,Brandi Tilton,NaN,615 394-0041,NaN,...,821 WOODCRAFT DR,NaN,NASHVILLE,TN,37214,CASR,CAZ10A001,13.0,37015625,"821 WOODCRAFT DR\nNASHVILLE, TN 37214\n(36.129..."
2,2018054778,Brookside Properties,NaN,615-496-5085,NaN,NaN,Brookside Properties,NaN,615-496-5085,NaN,...,5039 HILL PLACE DR,NaN,NASHVILLE,TN,37205,CASR,CAZ10A003,19.0,37019500,"109 2ND AVE N 1\nNASHVILLE, TN 37201\n(36.1622..."
3,2016069211,"STIPECH, KRISTOPHER D. & ALANA",NaN,NaN,NaN,NaN,"thomas, ryan",NaN,NaN,615-852-9914,...,158 W 83RD ST SD,NaN,NEW YORK,NY,10024,CASR,CAZ10A002,7.0,37011600,"1509B WENDELL AVE\nNASHVILLE, TN 37206\n(36.19..."
4,2017067571,NaN,NaN,NaN,NaN,NaN,Sarah Butler,NaN,615 364-9634,NaN,...,11 Music Sq. E #503,NaN,Nashville,TN,37203,CASR,CAZ10A003,19.0,37019500,"11 MUSIC SQ E 503\nNASHVILLE, TN 37203\n(36.15..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9710,2018020388,Steve Dumas,NaN,675 507-0928,NaN,NaN,Steve Dumas,NaN,675 507-0928,NaN,...,1208 A SHELTON AVE,NaN,NASHVILLE,TN,37216,CASR,CAZ10A001,7.0,37011200,"1208B SHELTON AVE\nNASHVILLE, TN 37216\n(36.20..."
9711,T201524842,"Marvel, Kendell And Randa",NaN,NaN,615-969-4357,NaN,"Marvel, Kendell And Randa",NaN,NaN,615-969-4357,...,NaN,NaN,NaN,NaN,NaN,CASR,CAZ10A001,24.0,37013400,"4610 DAKOTA AVE\nNASHVILLE, TN 37209\n(36.1475..."
9712,201516987,"Baines, Cindy & Timothy",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,CASR,CAZ10A002,7.0,37011400,"1407 CHESTER AVE\nNASHVILLE, TN 37206\n(36.194..."
9713,201611442,"Smithmier, Kenneth Lee & Terri L. & Kenneth Sa...",NaN,NaN,615-714-8072,NaN,"Smithmier, Kenneth Lee & Terri L. & Kenneth Sa...",NaN,NaN,615-714-8072,...,NaN,NaN,NaN,NaN,NaN,CASR,CAZ10A001,20.0,37013300,"4509 MICHIGAN AVE\nNASHVILLE, TN 37209\n(36.15..."
9714,201612449,"Howard, Bruce & Julie",NaN,NaN,615-649-8343,NaN,"Howard, Bruce & Julie",NaN,NaN,615-649-8343,...,3608 GOLF ST,NaN,NASHVILLE,TN,37216,CASR,CAZ10A001,7.0,37011200,"3608 GOLF ST\nNASHVILLE, TN 37216\n(36.211048,..."

AttributeError: 'DataFrame' object has no attribute 'Seizure_DateTime'